.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: rgba(246, 246, 246, 0.80);
    animation: fadeIn 1s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 50px 3px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .task-content {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }

  .task-content textarea {
    background-color: transparent;
    width: 100%;
    border: none;
    resize: none;
  }

  .task-content textarea:focus {
    outline: none;
  }
  
  .delete-task-container {
    cursor: pointer;
    margin-left: 20px;
  }
  
  .delete-task-container p {
    margin: 0;
  }  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform:translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
